@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

:root {
  --background: #3C3B38;
  --orange: #F77f00;
  --white: #F7FAF4;
  --grey: #C4C4C4;
}

body {
  background-color: #3C3B38;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: url(sketch.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  color: #F7FAF4;
}

html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* names on the side navigation */ 
h8 {
  font-size: 15px;
  color: #F7FAF4;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
}

/* sources under pictures */ 
.img {
  display: flex;
  flex-flow: column;
  text-align: left;

}

.h7 {
  font-size: 10px;
  padding-left: 5px;
  font-style: italic;

}

/* current page on the side navigation */
#now_id {
  color: #F77f00;
}

#now {
  filter: drop-shadow(3px 6px 9px black);
  box-shadow: inset 2px 4px 10px #000000;
}

#now:hover {
  cursor: default;
}

/* every button has a nice hover transition */
button {
  transition: 0.2s ease-in-out;
}

/* side navigation */
.sidenav {
  display: block;
  width: 150px;
  position: fixed;
  top: 30px;
  left: 30px;
  background: none;
  transition: box-shadow 0.2s;
  z-index: 1;
   
}
   
.sidenav a {
  position: relative;
  display: block;
  transition: box-shadow 0.3s;
  width: 100px;
  height: 100px;
  top: 0px;
  border-radius: 10px;
  margin-left: 0px;
  margin-bottom: 40px;
}
   
ul {
list-style: none;
}
   
.sidenav a:hover {
  cursor: pointer;
  filter: drop-shadow(3px 6px 9px black);
  box-shadow: inset 2px 4px 10px #000000;
}

  
.logo {
  position: relative;
  width: 160px;
  filter: drop-shadow(3px 6px 9px black);
  margin-bottom: 150px;
}
  
.logo:hover {
  cursor: pointer;
}
  
.facilitiesPage {
  padding: 5px;
  margin-top: 5px;
  width: 90px;
  filter: drop-shadow(3px 6px 9px black);
  border-radius: 10px;
}
  
.maintenancePage {
  padding: 5px;
  margin-top: 5px;
  width: 90px;
  filter: drop-shadow(3px 6px 9px black);
  border-radius: 10px;
}
  
.eventsPage {
  padding: 5px;
  margin-top: 5px;
  width: 90px;
  filter: drop-shadow(3px 6px 9px black);
  border-radius: 10px;
}
  
.navigationPage {
  padding: 5px;
  margin-top: 5px;
  width: 90px;
  filter: drop-shadow(3px 6px 9px black);
  border-radius: 10px;
}
  
.informationPage {
  padding: 5px;
  margin-top: 5px;
  width: 90px;
  filter: drop-shadow(3px 6px 9px black);
  border-radius: 10px;
}
  

/* burger menu */
.logohide {
  display: none;
}

.logohide:hover {
  cursor: pointer;
}

.menuItem {
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f7faf4;
}
  
.menuItem:hover {
  cursor: pointer;
  color: #f77f00;
}

.hamburger {
  position: relative;
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: none;
  background: none;
  color: #f7faf4;
  cursor: pointer;
}
  
.closeIcon {
  display: none;
}
  
.menu {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3c3b38;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
  
.showMenu {
  transform: translateY(0);
  align-items: right;
}

.hide {
  display: none;
}

/* responsive */ 
@media only screen and (max-width: 1900px) {

  h8 {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sidenav a {
    width: 75px;
    height: 75px;
    top: -20px;
    margin-bottom: 30px;
  }

  .logo {
    width: 160px;
    margin-bottom: 100px;
  }

  .facilitiesPage {
    padding: 5px;
    margin-top: 5px;
    width: 70px;
  }
    
  .maintenancePage {
    padding: 5px;
    margin-top: 5px;
    width: 70px;
  }
    
  .eventsPage {
    padding: 5px;
    margin-top: 5px;
    width: 70px;
  }
    
  .navigationPage {
    padding: 5px;
    margin-top: 5px;
    width: 70px;
  }
    
  .informationPage {
    padding: 5px;
    margin-top: 5px;
    width: 70px;
  }
  
}

/* displayed burger menu and hidden side navigation */
@media only screen and (max-width: 700px) {
  
  .hide {
    display: block;
  }

  .sidenav:not('main.html') {
    display: none;
  }

  .logohide {
    display: block;
    position: absolute;
    left: 80px;
    top: 15px;  
    width: 80px;
    margin: 0 0 20px;
    text-align: center;
  }

  .logohide:hover{
    cursor: pointer;
  }

  .h7 {
    font-size: 6px;
  }

}

